# Dependencies
/node_modules
/client/node_modules
/server/node_modules
/server/dist
/ngrok.yml
# Docker
/postgres_data

# Environment variables
.env
.env.*
!/.env.example

# IDE / OS files
.DS_Store
.vscode/

# Logs
server/combined.log
server/error.log